AKETooltip.xcodeproj/xcuserdata/kabakcie.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AKETooltip.xcodeproj/xcuserdata/kabakcie.xcuserdatad/xcschemes/AKETooltip.xcscheme
AKETooltip.xcodeproj/xcuserdata/kabakcie.xcuserdatad/xcschemes/xcschememanagement.plist
